*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    scroll-padding-top: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none!important;
}

.receipt{
    position: absolute;
    top: 10%;
    left: 11%;
    width: 500px;
    height: 580px;
    background-color: #0000008F;
    border: 1px solid white;
}

.receipt h1{
    font-family: 'Unbounded', cursive;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

table{
    position: absolute;
    border-collapse: collapse;
    width: 90%;
    left: 2%;
    top: 15%;
}

#orderDetails{
    margin: 1rem;
}

th, td{
    margin: 2px;
    border: 1px solid white;
    width: 100%;
    padding: 2px, 2px;
}

.table_label, .table_info{
    padding: 8px;
    font-size: 13px;
    width: 28%;
}


.driver{
    position: absolute;
    margin: 20px;
    width: 455px;
    height: 150px;
    top: 70%;
}

.driver img{
    position: absolute;
    margin-left: 10px;
    height: 100px;
}

#driver_details{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 20px;
    width: 300px;
    height: 100px;
    top: -20px;
    left: 132px;
}

#driver_details h2{
    font-size: 20px;
}

#driver_details h4{
    font-size: 15px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.747);
}

#driver_details h6{
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.747);
}

#driver_details h5{
    position: absolute;
    top: 89%;
    right: 0;
    cursor: pointer;
    transition: ease-out 0.2s;
}
#driver_details h5:hover{
    color: rgb(204, 94, 212);
    transition: ease-out 0.2s;
}

#thanku img{
    position: relative;
    top: 150px;
    left: 300px;

    width: 600px;
    height: 300px;
}

.btn-shop p{
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.553);
    border-style: solid;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    width: 215px;

    font-family: 'Unbounded', cursive;
    font-weight: 600;
    font-size: 13px;
    color: aliceblue;
    letter-spacing: 5px;
    transform: scale(1,1.2);
    transition: ease-out 0.4s;

    position: absolute;
    top: 76%;
    left: 75%;
}

.btn-shop p:hover{
    background-color: rgba(0, 0, 0, 0.83);
    width: 230px;
    transition: ease-out 0.4s;
}
