.general{
    border-width: 4px;
    border-color: rgb(0, 145, 255);
    border-style: solid;
}

.products{

    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;

    top: 170%;
    left: 6%;
    margin: 0px;
    width: 87%;
    height: 32%;

}

.products img{
    width: 350px;
    height: 100%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.618);
    margin: 0 40px;
    transition: ease-out 0.5s;
    display: block;

}

/*.products img:hover{
    transform:scale(1.1);
    z-index: 2;
    transition: ease-out 0.6s;
}*/

.content{
    display: flex;
    position: absolute;
    justify-content: center;

    overflow: hidden;

    top: 10%;
    left: 0%;
    margin: 0px;
    width: 100%;
    height: 115%;
}

.section3{

    display: flex;
    position: absolute;
    justify-content: center;

    overflow: hidden;

    top: 210%;
    left: 0%;
    margin: 0px;
    width: 100%;
    height: 115%;

}

.box{

    position: relative;
}


.imgoverlay{


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top,  rgb(0, 0, 0), rgba(18, 3, 30, 0.714), rgba(163, 76, 116, 0.292));
    position: absolute;
    top: 0%;
    left: 9%;
    margin: 0px;
    width: 82%;
    height: 100%;
    transition: ease-out 0.6s;

    opacity: 0;
}


.imgoverlay:hover{
    opacity: 1;
    z-index: 2;
    transition: ease-out 0.6s;

}



.image_title{
    font-size: 100%;
    position: absolute;
    font-family: Helvetica, sans-serif;;
    color: #ffff;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 20px;

    margin-bottom: -65px;
    
}

.image_description{
    font-size: 100%;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.573);
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 2px;

    margin-bottom: -140px;
    
}

.video-bg1{
    position: absolute;

    z-index: -2;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2000px;
    width: 100%;
    margin: 0px;
    padding: 0%;
    right: 0;
    bottom: 0;

}

.subtitle8{

    position: absolute;
    text-align: left;
    top: 6%;
    left: 0%;
    padding: 50px;
    margin: 80px;
    width: 40%;
    height: 20%;

    transition: ease-out 0.6s;
}

.subtitle8 p{


    font-family: 'Unbounded', cursive;
    font-weight: 600;
    font-size: 60px;
    color: aliceblue;
    letter-spacing: 15px;
    transform: scale(1,1.2);
    transition: ease-out 0.6s;
}

.subtitle8 p:hover{
    color: rgb(251, 210, 255);
    transform:scale(1.1);
    transition: ease-out 0.6s;
}



.subtitle9{

    position: absolute;
    text-align: left;
    z-index: 2;
    top: 22%;
    left: 3.5%;
    padding: 0px;
    margin: 80px;
    width: 40%;
    height: 0%;

}

.subtitle9 p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: aliceblue;
    letter-spacing: 5px;
    transform: scale(1,0.95);

    text-transform: uppercase;
}

.container{
    position: absolute;
    justify-content: space-between;

    top: 17%;
    left: 49%;

    height: 175px;
    width: 575px;

    display: flex;
}

.box1{

    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box1 img{

    width: 100px;
    height: 160px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box1:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype{

    position: absolute;
    text-align: center;
    z-index: 3;
    top: 66%;
    left: -95%;
    margin: 80px;
    width: 140%;
    height: 10%;

    transition: ease-out 0.5s;
    opacity: 0;

}

.prodtype p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box1:hover .prodtype{
    opacity: 1;
    transition: ease-out 0.5s;
}



.box2{
    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box2 img{
    width: 110px;
    height: 165px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box2:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype2{

    position: absolute;
    text-align: center;
    z-index: 3;
    top: 66%;
    left: -88%;
    margin: 80px;
    width: 140%;
    height: 10%;

    transition: ease-out 0.5s;
    opacity: 0;

}

.prodtype2 p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box2:hover .prodtype2{
    opacity: 1;
    transition: ease-out 0.5s;
}

.box3{
    top: -5%;
    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box3 img{
    width: 160px;
    height: 190px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box3:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype3{


    position: absolute;
    text-align: center;
    z-index: 3;
    top: 75%;
    left: -68%;
    margin: 80px;
    width: 140%;
    height: 10%;

    transition: ease-out 0.5s;

    opacity: 0;

}

.prodtype3 p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box3:hover .prodtype3{
    opacity: 1;
    transition: ease-out 0.5s;
}


.container2{
    position: absolute;
    justify-content: space-between;

    top: 45%;
    left: 10%;

    height: 175px;
    width: 50%;

    display: flex;
}

.box4{

    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box4 img{

    width: 100px;
    height: 160px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box4:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype4{

    position: absolute;
    text-align: center;
    z-index: 3;
    top: 66%;
    left: -95%;
    margin: 80px;
    width: 140%;
    height: 10%;

    transition: ease-out 0.5s;
    opacity: 0;

}

.prodtype4 p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box4:hover .prodtype4{
    opacity: 1;
    transition: ease-out 0.5s;
}



.box5{
    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box5 img{
    width: 110px;
    height: 165px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box5:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype5{

    position: absolute;
    text-align: center;
    z-index: 3;
    top: 66%;
    left: -94%;
    margin: 80px;
    width: 150%;
    height: 10%;

    transition: ease-out 0.5s;
    opacity: 0;

}

.prodtype5 p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box5:hover .prodtype5{
    opacity: 1;
    transition: ease-out 0.5s;
}

.box6{
    top: -5%;
    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box6 img{
    width: 160px;
    height: 190px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box6:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype6{


    position: absolute;
    text-align: center;
    z-index: 3;
    top: 78%;
    left: -72%;
    margin: 80px;
    width: 140%;
    height: 10%;

    transition: ease-out 0.5s;

    opacity: 0;

}

.prodtype6 p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box6:hover .prodtype6{
    opacity: 1;
    transition: ease-out 0.5s;
}

.box7{
    top: 0%;
    left: 40%;
    position: relative;
    width: 110px;
    height: 160px;
    transition: ease-out 0.5s;
}

.box7 img{
    width: 140px;
    height: 170px;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.644));
    transition: ease-out 0.5s;
    display: block;
}

.box7:hover{
    transform:scale(1.09);
    z-index: 2;
    transition: ease-out 0.5s;
}

.prodtype7{


    position: absolute;
    text-align: center;
    z-index: 3;
    top:  65%;
    left: -72%;
    margin: 80px;
    width: 140%;
    height: 10%;

    transition: ease-out 0.5s;

    opacity: 0;

}

.prodtype7 p{
    font-family: 'Unbounded', cursive;  
    color: rgba(255, 255, 255, 0.764);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    
}

.box7:hover .prodtype7{
    opacity: 1;
    transition: ease-out 0.5s;
}

.galleria{
    /*border-width: 4px;
    border-color: rgb(0, 145, 255);
    border-style: solid;*/
    position: absolute;
    text-align: left;
    top: 50%;
    left: 70%;
    width: 20%;
    height: 10%;

    transition: ease-out 0.6s;
}

.galleria p{
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.553);
    border-style: solid;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.522);
    width: 250px;

    font-family: 'Unbounded', cursive;
    font-weight: 600;
    font-size: 13px;
    color: aliceblue;
    letter-spacing: 5px;
    transform: scale(1,1.2);
    transition: ease-out 0.6s;
}

.galleria p:hover{
    background-color: rgba(46, 7, 64, 0.422);
    width: 300px;
    transition: ease-out 0.6s;
}
