/*IN-VOICE*/
.invoice{
    position: fixed;
    top: -150%;
    left: 44%;
    width: 570px;
    height: 550px;
    padding: 20px;
    background: rgb(0, 0, 0);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.4s;
    z-index: 1000;
    color: white;
}

.invoice.show{
    top: 18%;
    transition: 0.4s;
    z-index: 500;
}

.cart.invoice{
    position: fixed;

    width: 360px;
    padding: 20px;
    background: black;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;

    top: 18%;
    left:25%;
    height: 550px;

}

.invoice-details{
    position: absolute;
    left: 50px;
    border: 1px solid #ffff;
    height: 500px;
    width: 490px;
    padding: 50px;
}

.invoice-details h4{
    color: rgba(197, 197, 197, 0.789);
    font-family: sans-serif;
    font-weight: 50px;
    padding: 5px 0px;
}

.invoice-details p{
    padding: 5px;
}

.invoice-details button{
    position: relative;
    background-color: rgba(41, 7, 46, 0.488);
    border-width: 1px;
    border-color: rgba(254, 219, 255, 0.385);
    border-style: solid;

    left: 45%;
    top: 0%;

    width: 60%;

    text-transform: uppercase;
    letter-spacing: 4px;

    text-align: left;

    font-family: Helvetica, sans-serif;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 25px 0px;
    font-size: 13px;
    transition: ease-out 0.5s;
    cursor: pointer;
}

.invoice-details button:hover{
    border-color: rgba(254, 219, 255, 0.385);
    background-color: rgb(11, 2, 12);
    transition: ease-out 0.5s;
}

